<h1>About Us</h1>
<h3>Who we are?</h3>
<p>
Logistics UK is one of the biggest business groups in the UK, supporting, shaping and standing up for efficient logistics. We are the only business group in the UK that represents all of logistics, with members from the road, rail, sea and air industries, as well as the buyers of freight services such as retailers and manufacturers whose businesses depend on the efficient movement of goods.
</p>
<h3>
  Why do we exist?
</h3>
<p>An effective supply chain is vital to Keep Britain Trading, directly impacting over 7 million people employed in making, selling and moving the goods that affect everyone everywhere.</p>
<p>With Brexit, technology and other disruptive forces driving changes in the way goods move across borders and through the supply chain, logistics has never been more important to UK PLC.</p>

