table {
  border-collapse: collapse;
  width: 100%;
}
table tr:hover {
  background-color: #ddd;
}
table th {
  background-color: white;
}
td,
th {
  text-align: left;
  padding: 8px;
}
.day {
  display: flex;
  height: 25px;
  width: 25px;
  border: 1px solid black;
  border-radius: 5px;
}
.day-work {
  background-color: green;
}
#search {
  padding: 12px;
  width: 250px;
}
.not-drivers-found {
  text-align: center;
  padding-top: 25px;
}
